@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#000211];
  background-image: url('../src/assets/imgs/blue-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
